server:
  port: 8080
  servlet:
    context-path: /api

spring:
  datasource:
    url: "jdbc:mysql://localhost:3309/dktc_db"
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  flyway:
    enabled: false
    baseline-on-migrate: false

  # RabbitMQ Configuration
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
    listener:
      simple:
        concurrency: 5
        max-concurrency: 10

  # Redis Configuration
  data:
    redis:
      host: localhost
      port: 6379
      timeout: 2000ms

management:
  endpoints:
    web:
      exposure:
        include: health, info, metrics
  endpoint:
    health:
      show-details: always

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html

jwt:
  secret-key: "mFIbgAHanwWv+qk8D8sVzvA+gte2ZNUgHQCNDKn0KhA="
  access-token-validity: 3600000
  refresh-token-validity: 604800000

# Registration Configuration
registration:
  max-credits-per-semester: 24
  min-credits-per-semester: 14
  async-enabled: true